<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation System</title>

<style>
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
</style>

</head>
<body style="font-family: Droid Sans; background:#f2f2f2; margin:0;">

    <h1 style="text-align:center; padding:20px; font-family: Droid Sans; background:#c8d8e4; color:#069494;">
        🎬 Movie Recommendation System
    </h1>

    <div style="width:50%; margin:auto; background:#c8d8e4; padding:20px; border-radius:10px; box-shadow:0 0 10px rgba(200, 216, 228, 0.5);">

        <form action="/recommend" method="POST">
           
            <select name="genre" required style="width:100%; padding:10px; border-radius:5px; border:none;">
                <option value="">-- Select Genre --</option>

                <option value="Action" {% if genre == "Action" %}selected{% endif %}>Action</option>
                <option value="Comedy" {% if genre == "Comedy" %}selected{% endif %}>Comedy</option>
                <option value="Drama" {% if genre == "Drama" %}selected{% endif %}>Drama</option>
                <option value="Romance" {% if genre == "Romance" %}selected{% endif %}>Romance</option>
                <option value="Thriller" {% if genre == "Thriller" %}selected{% endif %}>Thriller</option>
                <option value="Horror" {% if genre == "Horror" %}selected{% endif %}>Horror</option>
                <option value="Sci-Fi" {% if genre == "Sci-Fi" %}selected{% endif %}>Sci-Fi</option>
                <option value="Adventure" {% if genre == "Adventure" %}selected{% endif %}>Adventure</option>
                <option value="Animation" {% if genre == "Animation" %}selected{% endif %}>Animation</option>
                <option value="Biography" {% if genre == "Biography" %}selected{% endif %}>Biography</option>
                <option value="Crime" {% if genre == "Crime" %}selected{% endif %}>Crime</option>
                <option value="Family" {% if genre == "Family" %}selected{% endif %}>Family</option>
                <option value="Fantasy" {% if genre == "Fantasy" %}selected{% endif %}>Fantasy</option>
                <option value="History" {% if genre == "History" %}selected{% endif %}>History</option>
                <option value="Music" {% if genre == "Music" %}selected{% endif %}>Music</option>
                <option value="Musical" {% if genre == "Musical" %}selected{% endif %}>Musical</option>
                <option value="Mystery" {% if genre == "Mystery" %}selected{% endif %}>Mystery</option>
                <option value="Sport" {% if genre == "Sport" %}selected{% endif %}>Sport</option>
                <option value="War" {% if genre == "War" %}selected{% endif %}>War</option>
            </select>

            <div style="display:flex; align-items:center; gap:10px; margin-top:10px;">

	    <button type="submit" 
	        style="flex:1; padding:10px; background:#069494; color:black; border:none; border-radius:5px; cursor:pointer;">
        	Get Recommendations
	    </button>

	<div class="tooltip">
	    <button onclick="toggleSpeech()" 
	        style="background:none; border:none; cursor:pointer; font-size:18px;">
        	🔇
	    </button>
	<span class="tooltiptext">Toggle voice. 
				Press Spacebar to intrrupt.</span>
	</div>    
	
	</div>

	</form>
</div>
	
    {% if movies %}
    <div style="width:60%; margin:auto; margin-top:30px; background:none">
        <h2 style="text-align:center; font-family: Droid Sans; color:#069494;">Top Movies ({{ genre }})</h2>

        <ul style="list-style:none; padding:0;">
            {% for movie in movies %}
                <li style="background:#c8d8e4; margin-bottom:20px; padding:15px; border-radius:10px; box-shadow:0 0 8px rgba(200, 216, 228,0.1);">
	
                    <h3 class="movie-title" style="margin:0; font-family: Droid Sans; color:#17252a;">{{ movie.title }}</h3>

	<div style="display:flex; align-items:center; gap:550px; margin-top:10px;">

                    <p>⭐ Ratings: {{ movie.score }}</p>

			<button type="button" 
			    onclick="toggleReview('{{ loop.index }}')" 
			    style="margin-top:10px; background:#069494; border:none; padding:8px; border-radius:5px; cursor:pointer;">
			    Add Review
			</button>

		</div>

	<div id="review-box-{{ loop.index }}" style="display:none; margin-top:10px;">

                    <form action="/submit_review" method="post">
                        <input type="hidden" name="movie_name" value="{{ movie.title }}">
                        <input type="hidden" name="imdb_id" value="{{ movie.imdb_id }}">
                        <input type="hidden" name="genre" value="{{ genre }}">

                        <textarea name="review" placeholder="Write your review..." required
                            style="width:95%; padding:10px; border-radius:5px; border:none;"></textarea>
                        <br><br>

                        <button type="submit"
                            style="background:#069494; color:black; padding:8px 12px; border:none; border-radius:5px; cursor:pointer;">
                            Submit Review
                        </button>
                    </form>
	</div>

                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

<script>
let speechEnabled = false;
let currentSpeech = null;

function toggleSpeech() {
    speechEnabled = !speechEnabled;

    if (!speechEnabled) {
        window.speechSynthesis.cancel();
    } else {
        speakRecommendations(); 
    }

    document.getElementById("voiceBtn").innerText =
        speechEnabled ? "🔊 Voice ON" : "🔇 Voice OFF";
}


function speakText(text) {
    if (!speechEnabled) return;

    window.speechSynthesis.cancel();

    const speech = new SpeechSynthesisUtterance(text);
    currentSpeech = speech;

    speech.rate = 1;
    speech.pitch = 1;

    window.speechSynthesis.speak(speech);
}


function speakRecommendations() {
    let movies = document.querySelectorAll(".movie-title");

    if (movies.length === 0) return; 

    let text = "Here are your recommended movies: ";

    movies.forEach(movie => {
        text += movie.innerText + ", ";
    });

    speakText(text);
}


window.onload = function () {
    speakRecommendations();
};


document.addEventListener("keydown", function(event) {
    if (event.code === "Space") {
        window.speechSynthesis.cancel();
    }
});

function toggleReview(id) {
    const box = document.getElementById("review-box-" + id);
    
    if (box.style.display === "none") {
        box.style.display = "block";
    } else {
        box.style.display = "none";
    }
}

</script>

</body>
</html>