<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation System</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <h1 class="header">
        🎬 Movie Recommendation System
    </h1>

    <div class="container">

        <form action="/recommend" method="POST">
           
            <select name="genre" >
                <option value="">-- Select Genre --</option>

                <option value="Action" {% if genre == "Action" %}selected{% endif %}>Action</option>
                <option value="Comedy" {% if genre == "Comedy" %}selected{% endif %}>Comedy</option>
                <option value="Drama" {% if genre == "Drama" %}selected{% endif %}>Drama</option>
                <option value="Romance" {% if genre == "Romance" %}selected{% endif %}>Romance</option>
                <option value="Thriller" {% if genre == "Thriller" %}selected{% endif %}>Thriller</option>
                <option value="Horror" {% if genre == "Horror" %}selected{% endif %}>Horror</option>
                <option value="Sci-Fi" {% if genre == "Sci-Fi" %}selected{% endif %}>Sci-Fi</option>
                <option value="Adventure" {% if genre == "Adventure" %}selected{% endif %}>Adventure</option>
                <option value="Animation" {% if genre == "Animation" %}selected{% endif %}>Animation</option>
                <option value="Biography" {% if genre == "Biography" %}selected{% endif %}>Biography</option>
                <option value="Crime" {% if genre == "Crime" %}selected{% endif %}>Crime</option>
                <option value="Family" {% if genre == "Family" %}selected{% endif %}>Family</option>
                <option value="Fantasy" {% if genre == "Fantasy" %}selected{% endif %}>Fantasy</option>
                <option value="History" {% if genre == "History" %}selected{% endif %}>History</option>
                <option value="Music" {% if genre == "Music" %}selected{% endif %}>Music</option>
                <option value="Musical" {% if genre == "Musical" %}selected{% endif %}>Musical</option>
                <option value="Mystery" {% if genre == "Mystery" %}selected{% endif %}>Mystery</option>
                <option value="Sport" {% if genre == "Sport" %}selected{% endif %}>Sport</option>
                <option value="War" {% if genre == "War" %}selected{% endif %}>War</option>
            </select>

            <div class="flex-row">

	    <button type="submit" class="btn">
        	Get Recommendations
	    </button>

	<div class="tooltip">
	    <button onclick="toggleSpeech()" class="icon-btn">
        	🔇
	    </button>
	<span class="tooltiptext">Toggle voice. 
				 Press Spacebar to intrrupt.</span>
	</div>    
	
	</div>

	</form>
</div>
	
    {% if movies %}
    <div class="movies-container">
        <h2 class="section-title">Top Movies ({{ genre }})</h2>

        <ul class="movies">
            {% for movie in movies %}
                <li class="movie-card">
	
                    <h3 class="movie-title">{{ movie.title }}</h3>

	<div class="flex-rows">

                    <p>⭐ Ratings: {{ movie.score }}</p>

			<button type="button" 
			    onclick="toggleReview('{{ loop.index }}')" 
			    class="btn">
			    Add Review
			</button>

		</div>

	<div id="review-box-{{ loop.index }}" class="review-box">

                    <form action="/submit_review" method="post">
                        <input type="hidden" name="movie_name" value="{{ movie.title }}">
                        <input type="hidden" name="imdb_id" value="{{ movie.imdb_id }}">
                        <input type="hidden" name="genre" value="{{ genre }}">

                        <textarea name="review" placeholder="Write your review..."></textarea>
                        <br><br>

                        <button type="submit" class="btn">
                            Submit Review
                        </button>
                    </form>
	</div>

                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</body>
</html>
